* text=auto

*.sh text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf

.envrc text eol=lf
.npmrc text eol=lf
.npmignore text eol=lf
.eslintrc text eol=lf
.gitattributes text eol=lf
